.internal-page-nav,
.student-thinking-assessments-nav {
  font-size: 1.15rem;
  font-weight: 300;
  ul {
    margin: 0;
  }
  li {
    line-height: 1.2;
    list-style: none !important;
    margin-bottom: 0.5rem;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  li.current_page_item a {
    font-style: italic;
  }
  @include responsive(35){
    font-size: 1.25rem;
  }
  @include responsive(45){
    font-size: 1.35rem;
  }
  @include responsive(5){
    font-size: 1.6rem;
  }
}
