.hero-section {
  padding-bottom: $stanPad;
  @include responsive(35){
    padding-bottom: ($stanPad * 3);
  }
  .aside {
    margin-bottom: 1rem;
    @include responsive(35){
      margin-bottom: 0;
    }
  }
}
